@page "/"

<h1>Welcome to my template.</h1>


<MudLink Typo="Typo.h1" Color="Color.Primary" Href="https://mudblazor.com/" Target="_blank">Check out Mudblazor</MudLink>

@*PageTitle is set in App.razor*@